@charset "utf-8";

/*base
-----------------------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 400;
    font-family: 'Noto Serif JP';
}

img,iframe{
    display: block;
    width: 100%;
    margin: 0;
}

a{
    text-decoration: none;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

a:hover{
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
}

ul,ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*common
-----------------------------------------------------------------------------------------*/

button{
    margin: 0;
    padding: 1vw 2vw 1vw 2vw;
    background-color: #63B13C;
    border: medium none;
    color: white;
    font-family: 'Noto Serif JP';
    border-radius: 50px;
    text-align: center;
  }

/*common
-----------------------------------------------------------------------------------------*/
html {
    font-size: 16px;
}

body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;

    
}

figure,dl,dt,dd,ul,li,th,td {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

/*common
-----------------------------------------------------------------------------------------*/
.logo-mark-img{
    width: 10%;
    margin-top: 5vw;
}

h3{
    font-size: 4vw;
    position:relative;
    display:inline-block;
}

h3::after{
    content:'';
    position:absolute;
    left:0;right:0;
    top:100%;
    margin: 2vw auto;
    width:50%;
    height:3px;
    background:#63B13C;
}

h4{
    font-size:2vw;
}

h5{
    font-size: 3vw;
}

p {
    font-size: 1.3vw;
}

/*top-image
-----------------------------------------------------------------------------------------*/
.top-image {
    width: 100%;
    background-image: url(../img/top_img.png);
    aspect-ratio: 15/7;
    background-size: cover;
}

.top-image-filter{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.top-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

a.top-image-logo{
    width: 20%;
    margin-left: 2vw;
}

.top-image-btn{
    width: 20%;
    margin-right: 2vw;
    font-size: 2vw;
    padding: 10vw, 1vw, 1.5vw, 1vw;
}

.bottom-wrapper{
    display: flex;
    justify-content: center;
    align-items: top;
    height: 80%;
}

h2.top-image-title{
    font-size: 3vw;
    color: white;
    margin-top: 3em;
}

/*business-contents
-----------------------------------------------------------------------------------------*/
.business-contents{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center; 
}

.business-contents-cards{
    width: 1200px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: top;
    margin-top: 8vw;
    margin-right: auto;
    margin-left: auto;
    gap: 4vw;
}

.content-card1{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #63B13C;
    box-shadow: 0 0 10px;
    padding: 1.5vw 1.5vw 2vw 1.5vw;
}

.content-card2{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #63B13C;
    box-shadow: 0 0 10px;
    padding: 1.5vw 1.5vw 2vw 1.5vw;
}

.content-card3{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #63B13C;
    box-shadow: 0 0 10px;
    padding: 1.5vw 1.5vw 2vw 1.5vw;
}

.content-card4{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: #63B13C;
    box-shadow: 0 0 10px;
    padding: 1.5vw 1.5vw 2vw 1.5vw;
}

.card-desciption{
    margin-top: 1vw; 
}

.card-title span{
    color: #63B13C;
}

.business-contents-btn{
    margin-top: 6vw;
    font-size: 2vw;
    margin-bottom: 5vw;
}

@media (min-width:1351px){
    .card-desciption{
        font-size: 1vw;
    }
}

@media (max-width:1216px){
    .business-contents-cards{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }

    .content-card1{
        width: 80%;
    }
    
    .content-card2{
        width: 80%;
    }
    
    .content-card3{
        width: 80%;
    }
    
    .content-card4{
        width: 80%;
    }

    .card-title{
        font-size: 3vw;
    }

    .card-desciption{
        font-size: 2vw;
    }

}

/*examples-parent
-----------------------------------------------------------------------------------------*/
.examples-parent{
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center; 
    background-color: #DCFACD;
}

.examples-contents{
    display: flex;
    margin-top: 6vw;
    margin-bottom: 6vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    gap: 3vw;
}

.examples-img{
    width: 40%;
    object-fit: cover;
}

.examples-description{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: top;
}

.tag{
    background-color: #63B13C;
    padding: 1vw 1.5vw 1vw 1.5vw;
    border-radius: 50px;
    color: white;
    font-size: 1.5vw;
}

.description-title{
    margin-top: 2vw;
    border-bottom: dashed 1px black;
    padding-bottom: 1.2vw;
    width: 100%;
}

.description-text{
    margin-top: 1.6vw;
}

@media (max-width:769px){
    .examples-contents{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3vw;
    }

    .examples-img{
        width: 80%;
        object-fit: cover;
    }

    .examples-description{
        width: 80%;
    }

    p {
        font-size: 1.8vw;
    }
}